html {
    background-color: rgba(0, 0, 0, 0.603);
    background-size: 100vw;
    background-repeat: round;
}

#head-container {
    display: flex;
}

#hidden-div {
    border-style: solid;
    border-color: black;
    width: 60px;
    height: 20px;
    margin-right: auto;
}

#hidden-div:hover {
    visibility: hidden;
}

#cd-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#countdown-value {
    font-weight: bold;
    font-size: 1.3rem;
    background-color: green;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

#username {
    color: orange;
    font-size: 30px;
    text-shadow: 2px 2px 3px black, 1px 1px 3px black, 3px 3px 3px black, -2px -2px 3px black; 
}

.style {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px green;
}

h2 {
    font-weight: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#key-sound-effect {
    width: 17px;
}


