html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#slots-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 75vmin;
  height: 75vmin;
  border: solid black;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black;
  font-size: 200%;
}

#info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75vmin;
}

#info-container button {
  width: fit-content;
  grid-column: 2;
  justify-self: center;
}

#upgrades-container {
  display: flex;
  margin: 5px;
  gap: 5px;
  position: absolute;
  left: 0%;
  top: 0%;
}

.score {
  background-color: gold;
}

#info-container .flex {
  grid-column: 3;
  justify-self: end;
}

.flex {
  display: flex;
  gap: 5px;
}

.one {
  color: #dc143c;
  border: solid #dc143c;
}

.two {
  color: #40e0d0;
  border: solid #40e0d0;
}

.three {
  color: #daa520;
  border: solid #daa520;
}

.four {
  color: #6a5acd;
  border: solid #6a5acd;
}

.five {
  color: rgb(47, 47, 66);
  border: solid rgb(47, 47, 66);
}

.six {
  color: #228b22;
  border: solid #228b22;
}

.seven {
  color: #ff7f50;
  border: solid #ff7f50;
}

.eight {
  color: #ff1493;
  border: solid #ff1493;
}

.nine {
  color: #d2691e;
  border: solid #d2691e;
}
